/* Monospace font */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
/* Sans font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

code {
    background-color: rgba(1, 1, 1, 0.3);
    display: inline-block;
    padding: 10px;
    border-radius: var(--border-radius);
    font-family: "Courier Prime", monospace;
}
* {
    font-family: 'Montserrat', sans-serif;
    background: #111;
    color: ivory;
    --border-radius: 3px;
    --transition-duration: 250ms;
    overflow-x: hidden;
}