/* Monospace font */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
/* Sans font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background: #111;
    color: ivory;
    --border-radius: 3px;
    --transition-duration: 250ms;
    line-height: 1.5;
}

code {
    background-color: #333;
    display: inline-block;
    padding: 10px;
    border-radius: var(--border-radius);
    font-family: "Courier Prime", monospace;
    vertical-align: middle;
}
ul, ol{
    list-style-position: inside;
}
*{
    overflow-x: hidden;
}
a{
    color: ivory;
}